.btn{
    border: 1px solid #ddd;
    border-radius: 4px;
  }

.btn:active,
.btn:hover{
    background: #777;
    color: #fff;
}

.btn-mini{
    padding: 0 33px;
    height: 34px;
    line-height: 34px;
    outline: 0;
    cursor: pointer;
    font-size: 16px;
}

.btn-primary{
    background: #5a5a5a;
    color: #ffffff;
}