@import "iconfont";
@import "var";
@import "distance";
@import "button";
@import "text";

.clearfix:after {
    content:"\200B";
    display:block;
    height:0;
    clear:both;
}
.clearfix {*zoom:1;}/*IE/7/6*/

.float-l{
    float: left;
}
.float-r{
    float: right;
}
.flex {
    display: flex;
}

.flex-item {
    flex: 1;
}




