@import "iconfont";
@import "var";
@import "distance";
@import "button";
@import "text";

.clearfix:after {
    content: "\200B";
    display: block;
    height: 0;
    clear: both;
}

.clearfix {
    *zoom: 1;
}
/*IE/7/6*/
.float-l {
    float: left;
}

.float-r {
    float: right;
}

.flex {
    display: flex;
}

.w50 {
    width: 50%;
}
.flex-item {
    flex: 1;
}

.bg-gray {
    background-color: #efefef;
}

.bg-white {
    background-color: #fff;
}

.header {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 50px;
    background: #151515;
    color: #b5b5b5;
    user-select: none;
    line-height: 50px;
}

.header-left {}

.header-center {
    width: 800px;
    height: 50px;
    margin: 0 auto;

    .header-nav {
        overflow: hidden;

        li {
            display: inline-block;
            padding: 0 20px;

            &.active,
            &:active,
            &:hover {
                cursor: pointer;

                .header-nav_item {
                    background: $active;
                    color: #fcfcfc;
                }
            }

            &.active {
                background: #fff;
            }

            .header-nav_item {
                display: inline-block;
                margin-right: 10px;
                width: 16px;
                height: 16px;
                background: #fcfcfc;
                border-radius: 50%;
                text-align: center;
                line-height: 16px;
                vertical-align: middle;
                color: $active;
                font-size: 14px;
            }
        }
    }
}

.header-right {
    .header-tools {
        span {
            padding: 0 10px;
            cursor: pointer;

            &:active,
            &:hover {
                color: #fff;
            }
        }
    }
}
