@import "var";
.shadow {
    box-shadow: rgba(0, 0, 0, .2) 0 0 5px 2px;
}

.sft-main {
    top: 50px;
}

.sft-contain,
.sft-main {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all 0.2s cubic-bezier(.47, 0, .745, .715);
}

.sft-flag {
    display: none;
    position: relative;
    height: 40px;
    line-height: 40px;
    background-color: #f1f1f1;
    color: #999;

    strong {
        position: absolute;
        left: 50%;
        z-index: 2;
        margin-left: -40px;
        background-color: #f1f1f1;
        display: block;
        width: 80px;
    }

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        z-index: 0;
        margin-top: -1px;
        width: 100%;
        height: 0;
        border-bottom: 2px dashed #dddddd;
    }
}

.sft-contain {
    top: 50px;
    width: 1500px;
    margin: 0 auto;
}

.sft-left {
    position: absolute;
    top: 0;
    left: 100px;
    width: 212px;
}

.sft-left_item {
    margin-bottom: 40px;
}

.sft-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 430px;
    right: 360px;
    padding: 0 20px;
    overflow: hidden;
    box-sizing: border-box;
}
.sft-content-body{
    position: relative;
    // padding-bottom: 100px;
}

.sft-content-title {
    height: 46px;
    background-color: $default;
    line-height: 46px;
    font-size: 20px;
    color: $text-water;
}

.sft-content-footer {
    // position: absolute;
    left: 0;
    right: 0;
    bottom: 64px;
    height: 56px;
    background: #fff;
    line-height: 46px;
}
.sft-author{
    // position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
} 
.sft-form-wrap{
    position: relative;
    height: 100%;
}
.sft-form {
    min-height: 400px;
    background: #fff;
    user-select: none;
    cursor: pointer;

    &:not(.disabled) {
        .sft-element {
            &:active {
                background-color: #f0f0f0;
            }

            &:hover {
                .sft-delete {
                    display: block;
                }
            }

            &.clicked,
            &:hover {
                .sft-border {
                    border-color: #ddd;
                }
            }

            &.clicked {
                background-color: #F8F4E8;
            }
        }
    }
}

.sft-panel {
    margin-bottom: 20px;
}

.sft-panel-title {
    padding-left: 10px;
    height: 35px;
    line-height: 35px;

    background-color: $default;
    cursor: pointer;

    color: $text-water;
}

.sft-input {
    width: 100%;
    height: 30px;

    background-color: #f9f9f9;
    border: 1px solid #dfdfdf;
    border-radius: 4px;
}

.sft-textarea {
    width: 80%;
    height: 90px;
    background-color: #f9f9f9;
    border: 1px solid #dfdfdf;
    border-radius: 4px;
}


.sft-select {
    width: 80%;
    height: 30px;
    line-height: 30px;

    background-color: #f9f9f9;
    border: 1px solid #dfdfdf;
    border-radius: 4px;

    .sft-tip{
        margin-left: 10px;
        color: #999;
    }
    .icon-arrow-bottom{
        float: right;
        margin-right: 10px;
    }
}

/* 多行输入 */
.sft-select-item {
    position: relative;
    margin-bottom: 4px;

    .icon-dagou {
        float: left;
        margin: 6px 0 0 6px;
        color: #ddd;
        cursor: pointer;
    }

    .sft-delete {
        right: -16px;
    }

    &:hover {
        background-color: #f1f1f1;
        input{
            background-color: #f1f1f1;
        }
        .sft-delete {
            display: block;
        }
        .icon-dagou{
            color: #c3c6cc;
        }
    }

    &.active {
        input {
            border-bottom-color: #999999;
        }
        .sft-select-item-border {
            display: block;
        }
        .icon-dagou{
            color: #999999;
        }
    }
    .sft-select-item-input {
        position: relative;
        margin-left: 22px;
        margin-right: 14px;
    }
    .sft-select-item-border {
        display: none;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        height: 2px;
        border-left: 1px solid #999999;
        border-right: 1px solid #999999;
    }

    .sft-field-input {
        width: 100%;
        box-sizing: border-box;
    }

    .sft-select-drag {
        cursor: move;
        float: left;
        width: 15px;
        height: 15px;
        background: url('../assets/sprite.png') 4px -165px no-repeat;

        &+.icon-dagou+.sft-select-item-input {
            margin-left: 40px;
        }
    }
}

.x-drag-mark {
    .drag-item {
        border: 1px solid #ddd;
    }
}
@media screen and (min-width: 1660px){
    .sft-main{
        .sft-left {
            width: 336px;
        }
        .sft-setting {
            width: 400px;
            right: 20px;
        }
    }
}

