@import './mixin';

$active: #6699CC;
$primary: #409EFF;
$default: #878D99;

$text-primary: #2D2F33;
$text-default: #5A5E66;
$text-water: #fff;

$border-1: #D8DCE5;
$border-2: #DFE4ED;
$border-3: #E6EBF5;
$border-4: #EDF2FC;

$margin-sm: 4px;
$margin: 8px;
$margin-xl: 12px;
$margin-xll: 24px;


$f-size: 14px;
$f-size-small: 13px;
$f-size-title: 16px;
$f-size-big: 18px;
$f-size-max: 20px;
